/* External CSS */

/* body is a CSS Selector */
/* {} idicates a CSS Declaration */
body {
  /* property:value; is a CSS Rule */
  margin: 0;
  font-family: "Poppins", sans-serif;
}

header {
  border-bottom: 5px solid black;
  position: sticky;
  top: 0;
  background-color: white;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  list-style-type: none;
  gap: 20px;
  padding: 0 10px;
}

section {
  height: 100vh;
}

.firstSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thirdSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionText {
  width: 50%;
}

.sectionImg {
  width: 50%;
}

footer {
  display: flex;
  justify-content: center;
}
